{{- define "post_title" -}}
<a href="{{ .URL }}">{{ .DisplayTitle }}</a>
{{- if .DisplayAuthor }} by <span class="author">{{ .DisplayAuthor }}</span>{{ end -}}
{{ if .Tripcode }} <span class="tripcode">!{{ .Tripcode }}</span>
{{- if .IsSuperuser }} <span title="Superuser" class="superuser">&#11088;</span>{{ end -}}
{{- if .IsOriginalPoster }} <span title="Original Poster" class="op">&#127793;</span>{{ end -}}
{{ end }} <span title="{{ .Time }}" class="time">{{ .TimeAgo }}</span>
{{- if .Replies }} ({{ .NumReplies }}){{ end -}}
{{ end -}}

{{ define "post" -}}
<p>
{{ template "post_title" . }}
</p>
{{- if .Body }}
{{ .BodyHTML }}
{{- end }}
{{- end -}}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="light dark">
<meta name="robots" content="noindex, nofollow">
<link rel="icon" href="/static/{{ .commit }}/favicon.svg" type="image/svg+xml">
<link rel="stylesheet" href="/static/{{ .commit }}/main.css">
{{- range .cssURLs }}
<link rel="stylesheet" href="{{ . }}">
{{- end }}
<meta name="commit" content="{{ .commit }}">
<title>{{ .post.PageTitle }}</title>
</head>
<body>
<ul class="post">
<li>
{{- if .post.Parent }}
{{ template "post_title" .post.ParentDisplayPost }}
{{- else }}
&nbsp;
{{- end }}
<ul class="post">
<li>
{{ template "post" .post }}
<ul class="post replies">
{{- if .repliesEnabled }}
<li class="odd">
<details open>
<summary>
Reply
</summary>
<form action="{{ .post.URL }}" method="post">
<p>
<input type="text" id="title" name="title" placeholder="{{ .post.Printer.Sprintf "Title" }}" autocomplete="off" maxlength="{{ .maxTitleSize }}">
<input type="text" id="author" name="author" placeholder="{{ .post.Printer.Sprintf "Author#tripcode-secret" }}" maxlength="{{ .maxAuthorSize }}">
</p>
<textarea id="body" name="body" placeholder="{{ .post.Printer.Sprintf "Markdown is supported." }}{{ if .emojiEnabled }} {{ .post.Printer.Sprintf "Insert emoji using shortcode between colons (:mushroom: becomes 🍄)." }}{{ end }}"  autocomplete="off" maxlength="{{ .maxBodySize }}"></textarea>
{{- if .emojiEnabled }}<div id="emoji-suggestions"></div>{{ end -}}
<p>
<input type="submit" value="{{ .post.Printer.Sprintf "Reply" }}">
</p>
</form>
</details>
</li>
{{- end }}
<li id="replies-start"></li>
{{- $class := "even" -}}
{{ range .post.RepliesPage .repliesPage .repliesPerPage }}
<li class="{{ $class }}">
<details open>
<summary>
{{ template "post_title" . }}
</summary>
{{- if .Body }}
{{ .BodyHTML }}
{{- end }}
</details>
</li>
{{- if eq $class "even" }}{{ $class = "odd" }}{{ else }}{{ $class = "even" }}{{ end -}}
{{ end }}
{{ .post.RepliesNav .repliesPage .repliesPerPage $class }}
<li id="replies-end"></li>
</ul>
</li>
</ul>
</li>
</ul>
{{- if .qrCodesEnabled }}
<button id="show-qr" title="{{ .post.Printer.Sprintf "URL QR Code" }}">🔳📲</button>
<dialog id="qr">
<form method="dialog">
<button autofocus>{{ .post.Printer.Sprintf "Close" }}</button>
</form>
</dialog>
{{- end }}
<script async src="/static/{{ .commit }}/main.js" type="module"></script>
</body>
</html>
