body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

button#show-qr {
  display: none;
}

img {
  max-width: 100%;
}

input[type="text"] {
  width: 11em;
}

li#replies-start, li#replies-end {
  height: 0;
}

li.even {
  background-color: light-dark(rgb(0 0 0 / 8%), rgb(255 255 255 / 8%));
}

li.odd, li.even {
  padding: 1em;
}

span.emoji {
  font-size: 200%;
  vertical-align: middle;
}

a > span.emoji {
  display: inline-block;
  text-decoration: none;
}

textarea {
  width: 100%;
  height: 7em;
}

ul.post {
  list-style-type: none;
  padding: 0 0.5em 0 1em;
}

ul.replies {
   padding: 0;
}

#emoji-suggestions {
  margin-top: 1em;
}

.emoji-suggestion {
  margin: 0 8px 8px 0;
}

.time {
  font-style: italic;
}

.tripcode {
  font-family: monospace;
}
