body {
  font-family: system-ui, -apple-system, 'Segoe UI', Arial, sans-serif;
  padding-bottom: env(safe-area-inset-bottom);
}

.post {
  list-style-type: none;
  padding: 0 0.5em 0 1em;
}

.time {
  font-style: italic;
}

.replies {
   padding: 0;
}

.odd, .even {
  padding: 1em;
}

summary {
  list-style: none;
}

summary::after {
  content: '▼';
}

details[open] > summary::after {
  content: '▲';
}

input[type='text'] {
  width: 11em;
}

textarea {
  width: 100%;
  height: 7em;
  resize: vertical;
}

#emoji-suggestions {
  margin-top: 1em;
}

.emoji-suggestion {
  margin: 0 8px 8px 0;
}

#replies-start, #replies-end {
  height: 0;
}

.even {
  background-color: light-dark(rgb(0 0 0 / 8%), rgb(255 255 255 / 8%));
}

.emoji {
  font-size: 200%;
  vertical-align: middle;
}

a > .emoji {
  display: inline-block;
  text-decoration: none;
}

.tripcode {
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, monospace;
}

img {
  max-width: 100%;
}

#show-qr {
  display: none;
}
