---
name: Check
'on':
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: 6 6 * * 6

permissions:
  checks: write
  contents: read
  security-events: write

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - name: Run ESLint
        run: npm install eslint @eslint/js globals && npx eslint
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20  # yamllint disable rule:line-length
  govulncheck:
    runs-on: ubuntu-latest
    steps:
      - uses: golang/govulncheck-action@v1
        with:
          go-package: ./...
          go-version-file: go.mod
          go-version-input:
          output-format: sarif
          output-file: ${{ github.ref == 'refs/heads/main' && 'govulncheck.sarif' || '' }}
        continue-on-error: ${{ github.ref == 'refs/heads/main' && true || false }}
      - uses: github/codeql-action/upload-sarif@v4
        if: github.ref == 'refs/heads/main'
        with:
          sarif_file: govulncheck.sarif
  hadolint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5
  htmlhint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Run htmlhint
        run: |
          npm install --global htmlhint
          go run tmpbbs.go &
          sleep 3
          htmlhint http://localhost:8080/
          kill $!
  kubeconform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Run kubeconform
        run: |
          go install github.com/yannh/kubeconform/cmd/kubeconform@v0.7.0
          curl --location --remote-name "https://dl.k8s.io/release/$(curl --location --silent https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          kubectl kustomize kubernetes | kubeconform -strict -summary
  markdownlint-cli2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101
        with:
          globs: '**/*.md'
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run shellcheck
        run: find . -type f -name "*.sh" -exec shellcheck --format gcc {} +
  stylelint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - name: Run Stylelint
        run: npm install stylelint stylelint-config-standard && npx stylelint --formatter unix '**/*.css'
  trivy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: aquasecurity/trivy-action@c1824fd6edce30d7ab345a9989de00bbd46ef284
        with:
          exit-code: '1'
          scan-type: fs
          format: sarif
          output: ${{ github.ref == 'refs/heads/main' && 'trivy.sarif' || '' }}
        continue-on-error: ${{ github.ref == 'refs/heads/main' && true || false }}
      - uses: github/codeql-action/upload-sarif@v4
        if: github.ref == 'refs/heads/main'
        with:
          sarif_file: trivy.sarif
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run yamllint
        run: yamllint .
