---
name: Release a new version
'on':
  push:
    tags:
      - v*.*.*

env:
  DOCKER_HUB_IMAGE: mm62/tmpbbs

jobs:
  create-release:
    name: Build and publish a container image and create a GitHub release
    runs-on: ubuntu-latest
    permissions:
      attestations: write
      contents: write
      id-token: write
      packages: write
    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Check out repo
        uses: actions/checkout@v6
      - name: Extract image metadata
        id: metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
        with:
          images: |
            ${{ env.DOCKER_HUB_IMAGE }}
            ghcr.io/${{ github.repository }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=semver,pattern={{raw}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130
      - name: Set up buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f  # yamllint disable rule:line-length
      - name: Build and push image
        id: push
        uses: docker/build-push-action@601a80b39c9405e50806ae38af30926f9d957c47
        with:
          context: .
          platforms: linux/amd64,linux/arm,linux/arm64
          build-args: |
            VERSION=${{ steps.metadata.outputs.version }}
            COMMIT=${{ github.sha }}
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          sbom: true
          push: true
      - name: Generate signed build provenance attestation for Docker Hub
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: index.docker.io/${{ env.DOCKER_HUB_IMAGE }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
      - name: >-
          Generate signed build provenance attestation for GitHub Container Registry
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ghcr.io/${{ github.repository }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
      - name: Install golang
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Build binaries
        run: >-
          ./build-release-binaries.sh "${{ steps.metadata.outputs.version }}"
          "${{ github.sha }}"
      - name: Generate signed build provenance attestation for binaries
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: release/*
      - name: Create release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b  # yamllint disable rule:line-length
        with:
          body: |
            ### Container Images

            - ${{ env.DOCKER_HUB_IMAGE }}:${{ steps.metadata.outputs.version }}
            - ghcr.io/${{ github.repository }}:${{ steps.metadata.outputs.version }}
          files: release/*
          generate_release_notes: true
